
.todayNews{
	height:30px;
	width:750px;
	background-color: white;
	float: left;
	margin-bottom: 20px;
	font-family: 'Merriweather', serif;
}

.todayNews .contain{
	margin-right: 20px;
	margin-left: 445px;
	margin-top:15px;
}

.history{
	width:750;
	height:450;
	background-color: white;
	float:left;
	overflow: scroll;
}


.boxes{
	background-color: green;
	width:380px;
	height:450px;
	/*display: inline-block;*/
	/*margin-right: 30px;*/
	float: left;
}

.today{
	/*background-color: blue;*/
	width: 350px;
	height:450px;
	/*display: inline-block;*/
	float: left;
}

.today .item{
	border-left: 5px solid;
	padding-left:20px;
	padding-right:20px;
	margin-bottom: 20px;
	margin-left: 40px;
	color: #888888;
	font-family: 'Merriweather', serif;
}


.timeLine{
	position: fixed;
	width:800px;
	height: 650px;
	left:-400px;
	/*left:0px;*/
	/*background-color: grey;*/
}

.timeLinePanel{
	width:750px;
	height: 650px;
	background-color: white;
	float: left;
	/*box-shadow: */
	box-shadow: 2px 2px 2px #888888;
	/*border-top: 1px solid;*/
	/*border-right: 1px solid;*/
	border-bottom: 1px solid #888888;
}

.toggleArrow{
	width: 50px;
	height: 650px;
	/*background-color: red;*/
	float: left;

}

.toggleButton .arrowAppear{
	display: inline-block;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}

.toggleButton .arrowDisappear{
	display: none;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}

/*.arrowIn{
	display: inline-block;
}
*/

.toggleButton{
	position: relative;
	width:25px;
	height: 100px;
	margin-left: 0px;
	background-color: white;
	top:10px;
	/*left: -10px;*/
/*		border-right: 1px solid;
		border-top: 1px solid;
		border-bottom: 1px solid;*/
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	box-shadow: 2px 2px 2px #888888;
	border-color: #888888;
}

.panelIn{
}

.panelOut{
}

.search{
	/*background: blue;*/
/*	height:150;*/
	/*border-right: 1px solid;*/
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #888888;
	position: relative;
}

.general{
	/*padding-top: 10px;*/
	/*background-color: blue;*/
	padding-left: 10px;
}


.active-general{
	font-weight: bold;
	color:black;
}



.general ul{
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 3px;
	color: #888888;
	font-family: 'Merriweather', serif;
	/*list-style-type:circle;*/
}

.general ul .dot{
	position: relative;
	top:-5px;
/*	left: 0px;*/
	font-size: 25px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.general li{
	display: inline;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 18px;
	cursor:pointer;
}

.searchIn{
	text-align: center;
	width:350px;
	height:180px;
	float: right;
}

.searchOut{
	text-align: center;
	width:750px;
	height:130px;
}

.selection{
	/*background-color: blue;*/
	padding-left: 40px;
	padding-right: 40px;
	/*display: none;*/
}
.topicSelection{
	display: none;
}
.peopleSelection{
	display: none;
}
.locationsSelection{
	display: none;	
}

.active-selection{
	display: block;
}

.selection ul{
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	/*line-height: 28px;*/
}

.selection li{
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 3px;
/*	padding-top: 3px;
	padding-bottom: 3px;*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1.7px;
	padding-bottom: 1.3px;
	background-color: #888888;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	color: white;
	cursor:pointer;
}

.selection .selectClick{
	background-color:green;
}
.showAll .selectClick{
	background-color:black;
}

.showAll{
	/*background-color: blue;*/
	margin-top: 20px;
	padding-left: 40px;	
	padding-right: 40px;
	position: absolute;
	font-family: 'Merriweather', serif;
	font-size: 15px;
}

.showAllIn{
	top: 123px;
}

.showAllOut{
	top: 70px;
}


.showAll ul{
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	line-height: 28px;
}

.showAll li{
	display: inline;
	padding-top: 1.7px;
	padding-bottom: 1.3px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	background-color: #888888;
	cursor: pointer;
}


.content{
/*	display: inline-block;*/
}

.empty{
	width:400px;
	/*display: inline-block;*/
	float: left;
	/*background-color: red;*/
	height: 1000px;
}


.article{
	margin-left: 70px;
	/*display: inline-block;*/
	float: left;
	/*position: relative;*/
	width:750px;
	height: 1000px;
}

.header{
	/*position: relative;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:100px;
	/*position: relative;*/
	text-align: center;
	padding-top: 20px;
	/*display: inline-block;*/
}

.header h1{
}

.dateAndWeather{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:20px;
	margin-top: 10px;
}	

.dateAndWeather p{
	margin: 0;
}

.storyNum{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:70px;
	margin-top: 10px;
}

.title{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:50px;
	margin-top: 10px;
}

.publish{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:60px;
	margin-top: 10px;
}

.storySummary{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:100px;
	margin-top: 10px;
}

.story{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:1000px;
	margin-top: 10px;
}



