/*** Overall app css ***/

body{
	font-family: 'Merriweather', serif;
	font-size: 12px;
}

/*** Article ***/

.content{
/*	display: inline-block;*/
}

.empty{
	width:400px;
	/*display: inline-block;*/
	float: left;
	/*background-color: red;*/
	height: 1000px;
}


.article{
	margin-left: 30px;
	/*display: inline-block;*/
	float: left;
	/*position: relative;*/
	width: 750px;
	height: 1000px;
}

.header{
	/*position: relative;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:100px;
	/*position: relative;*/
	text-align: center;
	padding-top: 20px;
	/*display: inline-block;*/
}

/* THIN */
.header h1{
	margin-top: 10px;
	font-family: 'Roboto', serif;
	font-size: 44px;
}

.dateAndWeather{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:20px;
	margin-top: 10px;
}	

.dateAndWeather p{
	margin: 0;
}

.title{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:50px;
	margin-top: 10px;
}

/* THIN */
.title p{
	margin-top: 5px;
	font-size: 30px;
	font-style: italic;
}

.publish{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height: 60px;
	margin-top: 10px;
}

#dock-container{
	padding-left: 0;
	text-align: center;
}

#dock-container li {
     float: left;
     list-style-type: none;
     text-align: center;
}
#dock-container a {
     color: #ccc;
     text-decoration: none;
}
#dock-container img {
     border: 0;
     width: 68px;
}

#dock-container img{
     -moz-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
     -webkit-transition: all .4s ease-in-out;
}

#dock-container a:hover > img {
     -moz-transform: scale(2.5);
     -o-transform: scale(2.5);
     -webkit-transform: scale(2.5);
}

.timelineNav{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:	120px;
	margin-top: 0px;
	position: -webkit-sticky;
}

.storySummary{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:100px;
	margin-top: 10px;
}

/* THIN */
.storySummary h4{
	margin-top: 5px;
}
/* THIN*/
.storySummary p{
	margin-top: -10px;
}

.story{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height: 1500px;
	margin-top: 10px;
}

.sticky{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	border-top: 0;
}

/* THIN */
img {
	display: inline-block;
	float: left;
	margin-right: 10px;

}



