/*** Overall app css ***/

body{
	font-family: 'Merriweather', serif;
}

/*** Article ***/

.timeLine{
	top: 0px;
	position: fixed;
	width:800px;
	height: 650px;
	left:-400px;
	z-index: 99999;
	/*left:0px;*/
	/*background-color: grey;*/
}

.timeLinePanel{
	width:750px;
	height: 650px;
	background-color: white;
	float: left;
	/*box-shadow: */
	box-shadow: 2px 2px 2px #888888;
	/*border-top: 1px solid;*/
	/*border-right: 1px solid;*/
	border-bottom: 1px solid #888888;
}

.toggleArrow{
	width: 50px;
	height: 650px;
	/*background-color: red;*/
	float: left;

}

.toggleButton .arrowAppear{
	display: inline-block;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}

.toggleButton .arrowDisappear{
	display: none;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}

/*.arrowIn{
	display: inline-block;
}
*/

.toggleButton{
	position: relative;
	width:25px;
	height: 100px;
	margin-left: 0px;
	background-color: white;
	top:10px;
	/*left: -10px;*/
/*		border-right: 1px solid;
		border-top: 1px solid;
		border-bottom: 1px solid;*/
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	box-shadow: 2px 2px 2px #888888;
	border-color: #888888;
}

.panelIn{
}

.panelOut{
}



.content{
/*	display: inline-block;*/
}

.empty{
	width:400px;
	/*display: inline-block;*/
	float: left;
	/*background-color: red;*/
	height: 1000px;
}


.article{
	margin-left: 30px;
	/*display: inline-block;*/
	float: left;
	/*position: relative;*/
	width: 750px;
	height: 1000px;
}

.header{
	/*position: relative;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:100px;
	/*position: relative;*/
	text-align: center;
	padding-top: 20px;
	/*display: inline-block;*/
}

/* THIN */
.header h1{
	margin-top: 10px;
	font-family: 'Roboto', serif;
	font-size: 44px;
}

.dateAndWeather{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:20px;
	margin-top: 10px;
}	

.dateAndWeather p{
	margin: 0;
}

.title{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:50px;
	margin-top: 10px;
}

/* THIN */
.title p{
	margin-top: 5px;
	font-size: 30px;
	font-style: italic;
}

.publish{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:60px;
	margin-top: 10px;
}

#timelinedock{
	width: 800px; 
	height: 75px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
#timelinedock ul{
	width: 800px;
}
#timelinedock ul li{
	display: inline;
	float: left;
	margin: 0 5px 0 0;
	padding: 15px;
	background-color: #B6B6B4;
	color: #000;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-transition: all 0.12s ease-in;
	-moz-transition: all 0.12s ease-in;
	-o-transition: all 0.12s ease-in;
	transition: all 0.12s ease-in;
}
#timelinedock ul li a{
	display: block;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	width: 20px;
	height: 20px;
	text-decoration: none;
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.12s ease-in;
	-moz-transition: all 0.12s ease-in;
	-o-transition: all 0.12s ease-in;
	transition: all 0.12s ease-in;
}
#timelinedock ul li:hover{
	font-size: 1.4em;
	padding: 25px;
}

.timelineNav{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:	250px;
	margin-top: 0px;
	position: -webkit-sticky;
}

.storySummary{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:100px;
	margin-top: 10px;
}

/* THIN */
.storySummary h4{
	margin-top: 5px;
}
/* THIN*/
.storySummary p{
	margin-top: -10px;
}

.story{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height: 1500px;
	margin-top: 10px;
}

.sticky{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	border-top: 0;
}

/* THIN */
img {
	display: inline-block;
	float: left;
	margin-right: 10px;
}



