/*** Overall app css ***/

body{
	font-family: 'Merriweather', serif;
	font-size: 12px;
}

/*** Article ***/

.content{
/*	display: inline-block;*/
}

.empty{
	width:400px;
	/*display: inline-block;*/
	float: left;
	/*background-color: red;*/
	height: 1000px;
}


.article{
	margin-left: 30px;
	/*display: inline-block;*/
	float: left;
	/*position: relative;*/
	width: 750px;
	height: 1000px;
}

.header{
	/*position: relative;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:100px;
	/*position: relative;*/
	text-align: center;
	padding-top: 20px;
	/*display: inline-block;*/
}

/* THIN */
.header h1{
	margin-top: 10px;
	font-family: 'Roboto', serif;
	font-size: 44px;
}

.dateAndWeather{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:20px;
	margin-top: 10px;
}	

.dateAndWeather p{
	margin: 0;
}

.title{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:50px;
	margin-top: 10px;
}

/* THIN */
.title p{
	margin-top: 5px;
	font-size: 30px;
	font-style: italic;
}

.publish{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: grey;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:60px;
	margin-top: 10px;
}

#timelinedock{
	width: 800px; 
	height: 75px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
#timelinedock ul{
	width: 800px;
}
#timelinedock ul li{
	display: inline;
	float: left;
	margin: 0 5px 0 0;
	padding: 15px;
	background-color: #B6B6B4;
	color: #000;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-transition: all 0.12s ease-in;
	-moz-transition: all 0.12s ease-in;
	-o-transition: all 0.12s ease-in;
	transition: all 0.12s ease-in;
}
#timelinedock ul li a{
	display: block;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	width: 20px;
	height: 20px;
	text-decoration: none;
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.12s ease-in;
	-moz-transition: all 0.12s ease-in;
	-o-transition: all 0.12s ease-in;
	transition: all 0.12s ease-in;
}
#timelinedock ul li:hover{
	font-size: 1.4em;
	padding: 25px;
}

.timelineNav{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:	250px;
	margin-top: 0px;
	position: -webkit-sticky;
}

.storySummary{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height:100px;
	margin-top: 10px;
}

/* THIN */
.storySummary h4{
	margin-top: 5px;
}
/* THIN*/
.storySummary p{
	margin-top: -10px;
}

.story{
	/*position: absolute;*/
	/*display: inline-block;*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	width: 750px;
	height: 1500px;
	margin-top: 10px;
}

.sticky{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	border-top: 0;
}

/* THIN */
img {
	display: inline-block;
	float: left;
	margin-right: 10px;
}



