/***** Sidebar *****/

/*** Icons ***/

.cat-icon {
	padding-top: 1px;
}

#show_all{
	padding-top: 4px;
}


/*** Sidebar layout ***/


.toggleArrow{
	width: 50px;
	height: 650px;
	float: left;

}

.toggleButton .arrowAppear{
	display: inline-block;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}

.toggleButton .arrowDisappear{
	display: none;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}


.toggleButton{
	position: relative;
	width:25px;
	height: 100px;
	margin-left: 0px;
	background-color: white;
	top:10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	box-shadow: 2px 2px 2px #888888;
	border-color: #888888;
}

.panelIn{
}

.panelOut{
}


/*** Categorization ***/

.search{
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #888888;
	position: relative;
}

.general{
	text-align: left;
	padding-left: 30px;
}


.active-general{
	font-weight: 900;
	color:black;
}


.general ul{
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #888888;
}

.general ul .dot{
	position: relative;
	top:-5px;
	font-size: 25px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.general li{
	display: inline;
	padding-left: 0px;
	padding-right: 0px;
	cursor:pointer;
}

.searchIn{
	text-align: left;
	padding-left: 30px;
	width:350px;
	height:197px;
	float: right;
}

.searchOut{
	text-align: center;
	width:975px;
	height:147px;
}

.selection{
	padding-left: 30px;
	padding-right: 20px;
}
.topicSelection, .trendingSelection, .locationsSelection{
	display: none;
}

.active-selection{
	display: block;
}

.selection ul{
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

.selection li{
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 2px;
	padding-left: 9px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #888888;
	color: white;
	cursor:pointer;
}

.selection .selectClick{
	background-color:green;
}
.showAll .selectClick{
	background-color:black;
}

.showAll{
	margin-top: 8px;
	position: absolute;
}

.showAllIn{
	top: 140px;
}

.showAllOut{
	top: 87px;
}


.showAll ul{
}


/*** Today's News ***/

.todayNews{
	height:30px;
	width:300px;
	background-color: white;
	float: left;
	margin-bottom: 20px;
	margin-left: 55px;
}

.todayNews .contain{
/*	margin-right: 20px;
	margin-left: 604px;*/
	margin-top:15px;
	display: inline-block;
}

.category{
	font-style: italic;
}

.history{
	width:975;
	height:500;
	background-color: white;
	float:left;
	overflow: scroll;
	z-index: 9999;
	/*display: none;*/
}

.expandHistory{
	height: 550px;
}


.boxes{
	width:630px;
	height:450px;
	float: left;
	margin-top: 50px;
}

.today{
	width: 300px;
	height:450px;
	float: left;
}

.today .item{
	height: 60px;
	border-left: 5px solid;
	padding-left:20px;
	padding-right:20px;
	margin-bottom: 21px;
	margin-left: 28px;
	color: #888888;
	cursor: pointer;
}

.headlight a:hover {
	color: black;
	text-decoration: underline;
}

.headlight a:active {
	text-decoration: underline;
}

.active-headlight {
	font-weight: 900;
	color: black;
}

.trendingNews, .locationNews, .topicNews, .hideSth {
	display: none;
	float: left;
}

.active-news{
	display: block;
}


.timeLine{
	font-size: 14px;
	top: 0px;
	position: fixed;
	width:1100px;
	height: 700px;
	left:-625px;
	z-index: 99999;
}

.timeLinePanel{
	width:975px;
	height: 7000px;
	background-color: white;
	float: left;
	box-shadow: 2px 2px 2px #888888;
	border-bottom: 1px solid #888888;
}

.toggleArrow{
	width: 50px;
	height: 650px;
	float: left;
}

.toggleButton .arrowAppear{
	display: inline-block;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}

.toggleButton .arrowDisappear{
	display: none;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}


.toggleButton{
	position: relative;
	width:25px;
	height: 100px;
	margin-left: 0px;
	background-color: white;
	top:10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	box-shadow: 2px 2px 2px #888888;
	border-color: #888888;
}

.panelIn{
}

.panelOut{
}


.arrow-left{
	color:grey;
	position: relative;
	left: -660px;
	top: 140px;
}

.pastBox{
	margin-top: 30px;
	width:600px;
	float: left;
}

.todayBox{
	margin-top: 30px;
	width:180px;
	height:450px;
	float: left;
	margin-left: 6px;
	padding-left: 12px;
	border: 3px dashed black;
	text-align: center;
}

.arrow-right{
	color:grey;
	position: relative;
	left: 230px;
	top: -8px;
	display:none;
}

.appear {
	display:block;
}


.line{
	margin-top: 10px;
	margin-bottom: 10px;
	height:64px;
}

.piece{
	margin-right: 12px;
	margin-left: 12px;
	display: inline-block;
	width:170px;
	height:60px;
	background-color: #888888;
	float: right
}

.no{
	width:30px;
	height:60px;
	display: inline-block;	
}

.headline{
	width:70px;
	height:60px;
	display: inline-block;
		font-size: 0.05px;
}

.foto{
	width:60px;
	height:60px;
	display: inline-block;
}


.piece img{
	width:170px;
	height: 60px;
	display: block;
}

.slideImg img{
	width:60px;
	height: 60px;
	float: right;
}

.slideA1, .slideA2, .slideA3, .slideA4, .slideA5, .slideB1, .slideB2, .slideC1, .slideC2{
	padding-left: 50px;
	margin-bottom: 17px;
	height: 64px;
	display: none;
}


.active-slide{
	display: block;
}


.boxes .active-box{
	display: block;
}

.topicBox, .locationBox, .trendingBox{
	display: none;
}
