/***** Sidebar *****/

/*** Icons ***/

.cat-icon {
	padding-top: 1px;
}

#show_all{
	padding-top: 4px;
}


/*** Sidebar layout ***/

.timeLine{
	font-size: 14px;
	top: 0px;
	position: fixed;
	width:1000px;
	height: 650px;
	left:-400px;
	z-index: 99999;
	/*left:0px;*/
	/*background-color: grey;*/
}

.timeLinePanel{
	width:750px;
	height: 650px;
	background-color: white;
	float: left;
	/*box-shadow: */
	box-shadow: 2px 2px 2px #888888;
	/*border-top: 1px solid;*/
	/*border-right: 1px solid;*/
	border-bottom: 1px solid #888888;
}

.toggleArrow{
	width: 50px;
	height: 650px;
	/*background-color: red;*/
	float: left;

}

.toggleButton .arrowAppear{
	display: inline-block;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}

.toggleButton .arrowDisappear{
	display: none;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}

/*.arrowIn{
	display: inline-block;
}
*/

.toggleButton{
	position: relative;
	width:25px;
	height: 100px;
	margin-left: 0px;
	background-color: white;
	top:10px;
	/*left: -10px;*/
/*		border-right: 1px solid;
		border-top: 1px solid;
		border-bottom: 1px solid;*/
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	box-shadow: 2px 2px 2px #888888;
	border-color: #888888;
}

.panelIn{
}

.panelOut{
}


/*** Categorization ***/

.search{
	/*background: blue;*/
/*	height:150;*/
	/*border-right: 1px solid;*/
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #888888;
	position: relative;
}

.general{
	text-align: left;
	padding-left: 30px;
}


.active-general{
	font-weight: 900;
	color:black;
}


.general ul{
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #888888;
	/*list-style-type:circle;*/
}

.general ul .dot{
	position: relative;
	top:-5px;
/*	left: 0px;*/
	font-size: 25px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.general li{
	display: inline;
	padding-left: 0px;
	padding-right: 0px;
	cursor:pointer;
}

.searchIn{
	text-align: left;
	padding-left: 30px;
	width:350px;
	height:197px;
	float: right;
}

.searchOut{
	text-align: center;
	width:975px;
	height:147px;
}

.selection{
	/*background-color: blue;*/
	padding-left: 30px;
	padding-right: 20px;
	/*display: none;*/
}
.topicSelection, .trendingSelection, .locationsSelection{
	display: none;
}

.active-selection{
	display: block;
}

.selection ul{
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	/*line-height: 28px;*/
}

.selection li{
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 2px;
/*	padding-top: 3px;
	padding-bottom: 3px;*/
	padding-left: 9px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #888888;
	color: white;
	cursor:pointer;
}

.selection .selectClick{
	background-color:green;
}
.showAll .selectClick{
	background-color:black;
}

.showAll{
	/*background-color: blue;*/
	margin-top: 8px;
	position: absolute;
}

.showAllIn{
	top: 140px;
}

.showAllOut{
	top: 87px;
}


.showAll ul{
}

/*.showAll li{
	display: inline;
	padding-top: 1.7px;
	padding-bottom: 1.3px;
	padding-left: 0px;
	padding-right: 5px;
	color: white;
	background-color: #888888;
	cursor: pointer;
}
*/


/*** Today's News ***/

.todayNews{
	height:30px;
	width:975px;
	background-color: white;
	float: left;
	margin-bottom: 20px;
	
}

.todayNews .contain{
	margin-right: 20px;
	margin-left: 670px;
	margin-top:15px;
}

.category{
	font-style: italic;
}

.history{
	width:975;
	height:450;
	background-color: white;
	float:left;
	overflow: scroll;
	display: none;
}


.boxes{
	/*background-color: green;*/
	width:605px;
	height:450px;
	/*display: inline-block;*/
	/*margin-right: 30px;*/
	float: left;
}

.today{
	/*background-color: blue;*/
	width: 350px;
	height:450px;
	/*display: inline-block;*/
	float: left;
}

.today .item{
	border-left: 5px solid;
	padding-left:20px;
	padding-right:20px;
	margin-bottom: 20px;
	margin-left: 40px;
	color: #888888;
	cursor: pointer;
}

.headlight a:hover {
	color: black;
	text-decoration: underline;
}

.headlight a:active {
	text-decoration: underline;
}

.active-headlight {
	font-weight: 900;
	color: black;
}

.trendingNews, .locationNews, .topicNews, .hideSth {
	display: none;
}

.active-news{
	display: block;
}

.timeLine{
	top: 0px;
	position: fixed;
	width:1025px;
	height: 650px;
	left:-625px;
	z-index: 99999;
	/*left:0px;*/
	/*background-color: grey;*/
}

.timeLinePanel{
	width:975px;
	height: 650px;
	background-color: white;
	float: left;
	/*box-shadow: */
	box-shadow: 2px 2px 2px #888888;
	/*border-top: 1px solid;*/
	/*border-right: 1px solid;*/
	border-bottom: 1px solid #888888;
}

.toggleArrow{
	width: 50px;
	height: 650px;
	/*background-color: red;*/
	float: left;

}

.toggleButton .arrowAppear{
	display: inline-block;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}

.toggleButton .arrowDisappear{
	display: none;
	margin-top: 26px;
	margin-bottom: 20px;
	color: #888888;
	margin-left: 4px;
	font-size: 40px;
}

/*.arrowIn{
	display: inline-block;
}
*/

.toggleButton{
	position: relative;
	width:25px;
	height: 100px;
	margin-left: 0px;
	background-color: white;
	top:10px;
	/*left: -10px;*/
/*		border-right: 1px solid;
		border-top: 1px solid;
		border-bottom: 1px solid;*/
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	box-shadow: 2px 2px 2px #888888;
	border-color: #888888;
}

.panelIn{
}

.panelOut{
}

.timeLinePanel .active-history{
	display: block;
}


.expandHistory{
	width:975px;
	height: 450px;
	/*color:black;*/
	float: left;
	overflow: scroll;
	display: none;
}

.arrowBtnLeft{
	width:60px;
	height:450px;
	color:green;
	float: left;
}

.pastBox{
	margin-top: 30px;
	width:600px;
	height:450px;
	float: left;
}

.todayBox{
	margin-top: 30px;
	width:180px;
	height:450px;
	float: left;
	margin-left: 6px;
	padding-left: 12px;
	border: 3px dashed black;
	text-align: center;
}

.arrowBtnRight{
	width:80px;
	height:450px;
	color:green;
	float: left;	
}



.line{
	margin-top: 10px;
	margin-bottom: 10px;
	height:64px;
}

.piece{
	margin-right: 12px;
	margin-left: 12px;
	display: inline-block;
	width:170px;
	height:60px;
	background-color: #888888;
	float: right
}

.no{
	width:30px;
	height:60px;
	display: inline-block;	
}

.headline{
	width:70px;
	height:60px;
	display: inline-block;
		font-size: 0.05px;
}

.foto{
	width:60px;
	height:60px;
	display: inline-block;
}

.expandTodayNews1{
	height:50px;
	width:500px;
}

.expandTodayNews2{
	height:50px;
	width:180px;
}

.expandTodayNews2 div{
	position:relative;
	right:10px;
	font-style:italic;
	font-weight: 900;
	font-size:20px;
	top:15px;
}

/*.timeLine .headline .div{

}*/

.piece img{
	width:170px;
	height: 60px;
}


